objs/
maek-cache.json
dist/README-SDL.txt
dist/README-glm.txt
dist/README-libpng.txt
dist/README-libogg.txt
dist/README-libopus.txt
dist/README-opusfile.txt
dist/README-freetype.txt
dist/README-harfbuzz.txt
dist/demo.ilk
dist/demo.pdb
dist/SDL2.dll
dist/demo
dist/demo.exe
sprites/pack-sprites*
*.blend[0-9]
